atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorama==0.3.9
Django==2.2.24
ez-setup==0.9
gunicorn==19.9.0
heroku==0.1.4
idna==2.7
linecache2==1.0.0
more-itertools==4.3.0
pip-tools==3.0.0
pipenv==2018.7.1
pluggy==0.7.1
py==1.6.0
pytest==3.8.1
python-dateutil==1.5
pytz==2018.5
requests==2.19.1
six==1.11.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
